.card {
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1.5rem;
  height: 80%;
  width: 80%;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #ff6b6b, #56ab2f);
  transition: 0.3s;
}
.card a {
  text-decoration: none;
}
.card:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #ff8e53, #ff2e63);
}

.image {
  width: 90%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1.3rem;
}

.button {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}
